* {
    padding: 0;
    margin: 0;
    user-select: none;
}

li {
    list-style: none;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}